<div class="container centrebox">
    <h3>Welcome to Rogers Immersive Experience!</h3>
    <br />
    <h3>How can we help you today?</h3>
    <br />
    <a class="btn btn-danger btn-block" href="phones">
        I want to buy a new phone
    </a>
    <a class="btn btn-danger btn-block">
        I want to try new phones
    </a>
    <a class="btn btn-danger btn-block">
        I want to get a new SIM card
    </a>
</div>